<div class="row">
    <div class="col-md-12 text-center">
       <h1><b><p><span style="color:rgb(185, 53, 124)">IMS</span></p></b></h1>
    </div>
<div class="row">
  <div class="col-md-3 text-center">
     <img src="../../assets/images/joseph.PNG" width="170" height="170">
     <!-- <h2><b><span style="color:rgb(185, 53, 124)">Joseph George</span></b></h2> -->
     <h2><a target="_blank" rel="noopener" href="../../assets/josephinfo.html"><span style="color: rgb(233, 218, 10)">Joseph George</span></a></h2>
     <h3><span style="color:rgb(233, 218, 10)">Global Head of IT</span></h3> 
  </div>
<div> 
  <ul style="margin-top: -22px;height: 180px;color: coral;font-size: 18px;padding-left: 8%;text-align: left;">

      <li> IMS is a Information Management System</li>
      <li> Enabling cloud based and cloud native solutions to enterprises by adding agility to service delivery partnership with 10+ cloud providers</li>
      <li> partnership with 10+ cloud providers</li>
      <li> Global cloud presence based on law of land</li>
      <li> Optimize infra investment and streamline operations</li>
      <li> Hybrid cloud Management</li>
      <li> Support critical system Transformation</li>
      <li> Align IT with business processes </li>
     
   </ul>
