<style>
    .cert_img{
      height: 50px;
      width: 80px;
      padding: 0 15px 10px 0;
    }
  </style>
  <div class="row">
          <div class="col-md-4 text-center">
             <img src="../../assets/images/sridevi.jpg" width="170" height="170">
             <!-- <h2><b><span style="color:rgb(185, 53, 124)">Joseph George</span></b></h2> -->
             <!-- <h2><a target="_blank" rel="noopener" href="https://www.imicroncloud.com/"><span style="color: rgb(233, 218, 10)">Sridevi Voleti</span></a></h2> -->
             <h2><a target="_blank" rel="noopener" href="../../assets/srideviinfo.html"><span style="color: rgb(233, 218, 10)">Sridevi Voleti</span></a></h2>

             <h4><span style="color:rgb(233, 218, 10)">Director-iMicron</span></h4>
            
             <div class="row m-t-20" style="text-align: left;padding-left: 9%;">
                <div class="col-md-2"></div>
                  <h4><span style="color:violet">Team Members:</span></h4>
                </div>
                <br>
        <ul style="margin-top: -22px;height: 180px;color: coral;font-size: 18px;padding-left: 8%;text-align: left;">
                 
            
                  <li> Balakrishna Kolliboina</li>
                  <li> Jaideepsingh Panwar</li>
                  <li> Sravani Nadipelli</li>
                  <li> Tripula Jana</li>
                  <li> Vamshi Krishna Chalangari</li>
                  <li> Tripula Jana</li>
                        
                </ul> 
          </div>
        <br>
       
        <div class="container col-md-8">
        <!-- <img  src="../../assets/images/unified-cloud.png" style="width:100%"> -->
  
        
        <h2><span style="color:violet">Welcome to iMicron</span></h2>
        <br><br>
                  
                       <p><span style="color:cyan">iMicron by Techwave is a cloud platform which offers you thousands of instances from public cloud ecosystem. Our cloud ecosystem is comprised of some of the best names from the industry like Navisite, Interoute, CloudSigme, CACloud, Softlayer, LunaCloud, and much more. This gives access to more than 103 data centers in the world with 16 CSPs and 2000+ hourly and monthly instances.
                       </span></p>
                       
                                      

      
  <!-- <button style="background-color: cyan;width:150px;height:60px;margin:5px;"><b>Service Status<a href="https://s3.console.aws.amazon.com/s3/home?region=us-east-1"></a></b></button>
 <button style="background-color: cyan;width:150px;height:60px;margin:5px;"><b>Billing<a href="https://console.aws.amazon.com/ec2/v2/home?region=us-east-1#Home:"></a></b></button> 
<button style="background-color: cyan;width:150px;height:60px;margin:5px;"><b>List of Services</b></button>
<button style="background-color: cyan;width:150px;height:60px;margin:5px;"><b>Additional Resources</b></button>              

<div id="dopost"><br><br>
  <button (click)="doPost()">EC2 Instances</button><br>
  <strong>List of instances: </strong><pre>{{ postResult | json}}</pre>
  <br>
</div>

<div id="doget"><br><br>
  <button (click)="doGet()">S3 Buckets</button><br>
  <strong>List of Buckets in S3: </strong><pre>{{ getResult | json}}</pre>
  <br>
</div>
<div id="doami"><br><br>
  <button (click)="doAmi()">Ami List</button><br>
  <strong>list of amis</strong><pre>{{ amiResult | json}}</pre>
  <br>
</div>
<div id="doone"><br><br>
  <button (click)="doOne()">Load balancer List</button><br>
  <strong>list of ELB's</strong><pre>{{ oneResult | json}}</pre>
  <br>
</div> -->
            
  
  
  
  
  
  