<style>
  .cert_img{
    height: 50px;
    width: 80px;
    padding: 0 15px 10px 0;
  }
</style>
<div class="row">
        <div class="col-md-4 text-center">
           <img src="../../assets/images/ravic.jpg" width="170" height="170">
           <!-- <h2><b><span style="color:rgb(185, 53, 124)">Joseph George</span></b></h2> -->
           <h2><a target="_blank" rel="noopener" href="../../assets/ravicinfo.html"><span style="color: rgb(233, 218, 10)">Ravi Kumar Channavajhala</span></a></h2>
           <h4><span style="color:rgb(233, 218, 10)">Senior Director - Cloud and Devops Practice</span></h4>
           <div class="certifications">
            <img class="cert_img" src="../../assets/images/cloud practioner.jpg">
            <img class="cert_img" src="../../assets/images/network.png">
            <img class="cert_img" src="../../assets/images/consuting partner.png">
            <img class="cert_img" src="../../assets/images/dev associate.jpg">
            <img class="cert_img" src="../../assets/images/devops professional.png">
            <img class="cert_img" src="../../assets/images/ibm.png">
            <img class="cert_img" src="../../assets/images/solution associate.png">
            <img class="cert_img" src="../../assets/images/solution profess.png">
            <img class="cert_img" src="../../assets/images/sysops ass.jpg">
           </div>
           <br><br>
           <div class="row m-t-20" style="text-align: left;padding-left: 9%;">
              <div class="col-md-2"></div>
                <h4><span style="color:violet">Cloud Services:</span></h4>
              </div>
      <ul style="margin-top: -22px;height: 180px;color:wheat;font-size: 18px;padding-left: 8%;text-align: left;">
                <!-- <li> Architectural Solutions in AWS and Azure</li>
                <li> Cloud Consulting</li>
                <li> Migration services</li> -->
            
                <li> Work load re-architecture</li>
                <!-- <li> Hybrid cloud architecture</li> -->
                <li> Hybrid cloud Management</li>
                <li> single pane governance and control</li>
                <li> Devops/Automation </li>
                <li> Operational intellegence and analytical monitoring </li>
                <li>  Converged/ HC Infrastructure management </li>
                <li> Architectural Solutions in AWS and Azure</li>
                <li> Cloud Consulting</li>
                <li> Migration services</li>
              </ul> 
        </div>
      <br>
     
      <div class="container col-md-8">
      <!-- <img  src="../../assets/images/unified-cloud.png" style="width:100%"> -->

      
      <h2><span style="color:violet">Welcome to Cloud Solutions</span></h2>
      <p><span style="color:cyan">To keep pace with today’s changing digital landscape and competition, businesses must adopt to the cloud to remain relevant. According to Forrester, public cloud adoption in enterprises will cross 50% for the first time this year. No matter where you are in your cloud journey, Techwave partners to enable organizations to identify strategies to optimize traditional infrastructure, maintain speed and agility while continuing innovation via a single pane of glass deployment with visibility, governance and a full management model
      </span></p>
      <p><b><span style="color:orange">One of the best sayings about cloud technology by Apple co-founder is - “I don’t need a hard disk in my computer if I can get to the server faster… carrying around these non-connected computers is byzantine by comparison.”
      </span></b></p>
    <p><b><span style="color:tomato">DevOps-To successfully implement continuous delivery, you need to change the culture of how an entire organization views software development efforts.The key to following the continuous delivery path is to continually question your own assumptions about what’s possible.DevOps is an initiative solution, streamlining and powering performance and observing real-time metrics. This is succeeded with a unified combination of the best tools in development, build, test, and deployment phases to permit a one clicks implementation.
       
      </span></b></p>
      
      <br>
      <div class="row m-t-20" style="margin-top: 50px;">
          <div class="col-md-2"></div>
            <h4><span style="color:violet">Team information:</span></h4>
          </div>
             
       <ul><h4><span style="color:wheat">
        <li> Chandra Rao Jampa</li>
        <li> Ravi Kumar Channavajhala</li>
        <li> Ravi Kiran Joshi Bijumalla</li>
                              
        </span> </h4>
      
      </ul> 
       <h2><i><span style="color:chartreuse">You can download techwave presentation template over here..</span></i></h2>
       <p><b><span style="color:orange">TW Template:</span></b></p>
       <a class="btn btn-info" role="button" href="../../assets/Techwave- Cloud-RIMS-DevOps Services.pptx"
   download="Techwave- Cloud-RIMS-DevOps Services.pptx">
  Download
</a>
  
      
       

    
    
   





