<!-- <p>
 <b> <span style="color: deepskyblue">VISION AND MISSION</span></b>
</p>
  <h4><b><span style="color:deeppink">Our techwave cloud BU came up with an idea where, we the team can fulfill the our techwave employees requirements from all aspects related to cloud environments
      as per terms and conditions.By which employee feel free to access this serverless UI with lots of efforts and advantages.
      this is for finalized script.</span></b></h4>  -->
      <div class="row">
          <div class="col-md-12 text-center">
             <img src="../../assets/images/chandra.jpg" width="150" height="150">
             <!-- <h3><b><span style="color:gold">Global Cloud BU</span></b></h3> -->
             <h3><b><a target="_blank" rel="noopener" href="../../assets/chandrainfo.html"><span style="color:gold">Global Cloud BU</span></a></b></h3>

          </div>
       </div>
       <div class="row m-t-20">
          <div class="col-md-4 text-center">
             <img src="../../assets/images/ravic.jpg" width="150" height="150">
             <h3><b><a target="_blank" rel="noopener" href="../../assets/ravicinfo.html"><span style="color:gold">Cloud and Devops</span></a></b></h3>

          </div>
          <div class="col-md-4 text-center">
             <img src="../../assets/images/sridevi.jpg" width="150" height="150">
             <h3><b><a target="_blank" rel="noopener" href="../../assets/srideviinfo.html"><span style="color:gold">iMicron</span></a></b></h3>

          </div>
          <div class="col-md-4 text-center">
             <img src="../../assets/images/joseph.PNG" width="150" height="150">
             <h3><b><a target="_blank" rel="noopener" href="../../assets/josephinfo.html"><span style="color:gold">IMS</span></a></b></h3>

          </div>
       </div>
       <ul>
           
          <!-- <li> 
               <h2><a target="_blank" rel="noopener" href="https://www.imicroncloud.com/"><span style="color:violet">iMicron</span></a></h2>
               </li> --> 
               <li> 
                     <h2><span style="color:violet">Vision</span></h2>
                  
                     <p><span style="color:cyan">Techwave will be the go-to partner for IT enabled business solutions that deliver value and enable solid corporate growth.Our techwave cloud BU came up with an idea where, we the team can fulfill the our techwave employees requirements from all aspects related to cloud environments
                        as per terms and conditions.By which employee feel free to access this serverless UI with lots of efforts and advantages.
                        this is for finalized script.
                     </span>
                     </p>
                     <h2><span style="color:violet">Mission</span></h2>
                  
                     <p><span style="color:cyan">To gather the most qualified resources and build technology practices that lead to the development of innovative solutions and futuristic applications. 
                     </span>
                     </p>
               </li>     
       
       
       </ul>
       <!DOCTYPE html>
       <html>
       <head>
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- Add icon library -->
       <link rel="stylesheet" href="">
       <style>
       .btn {
         background-color: DodgerBlue;
         border: none;
         color: white;
         padding: 12px 30px;
         cursor: pointer;
         font-size: 20px;
       }
       
       /* Darker background on mouse-over */
       .btn:hover {
         background-color: RoyalBlue;
       }
       </style>
       </head>
       <body>
       
       <button class="btn"><i class="fa fa-download"></i>Let's Connect</button>
       
       
  